<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir sua senha</title>
</head>
<body>
{% block content %}
<h1>Redefinir sua senha</h1>
<p>Enviamos-lhe instruções por e-mail para definir a sua senha.</p>
<p>Se você não receber um e-mail, certifique-se de ter inserido o endereço com o qual você se registrou.</p>
{% endblock %}

</body>
</html>