{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir sua senha</title>
    <link rel="shortcut icon" href="{% static 'img/logo2.png' %}" type="image/x-icon">
    <style type="text/css">
    body {
        padding: 0;
        margin: 0;
        height: 100vh;
        width: 100%;
        position: relative;
        background-color: #E08E79;
        background-size: cover;
        background-repeat: repeat;
        font-family: Arial, Helvetica, sans-serif;
    }
.marg{
    margin-left: 100px;
    margin-top: 40px;
}
.logo img {
    height: 80px;
    width: 80px;
    margin-left: 13px;
  }
    

  </style>  
</head>
<body>

    <div class="header">
        <div class="logo">
            <a href="{% url 'login' %}">
                <img src="/static/img/logo.png" alt="Logo">
            </a>
        </div>
    </div>

     <div class="marg">
       {% block content %}
       <h1>Redefinição de senha:</h1>
       <p>Enviamos-lhe instruções por e-mail para definir a sua senha.</p>
       <p>Se você não receber um e-mail, certifique-se de ter inserido o endereço com o qual você se registrou.</p>
       {% endblock %}
     </div>
</body>
</html>