<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir sua senha</title>
</head>
<body>

{% block content %}
<h1>Esqueceu sua senha?</h1>
<p>Digite seu endereço de e-mail para obter uma nova senha.</p>
<form action="." method="post">
{{ form.as_p }}
<p><input type="submit" value="Send e-mail"></p>
{% csrf_token %}
</form>
{% endblock %}


</body>
</html>