<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMAC - Perfil</title>
    <link rel="shortcut icon" href="../static/img/logo2.png" type="image/x-icon">
</head>
<body>

    <h2>Página de Perfil</h2>
    <p>Olá {{ user.username }}</p>
    <p>E-mail: {{ user.email }}</p>
    
    {% if tem_imagem_perfil %}
        <!-- Exibir a imagem de perfil caso exista -->
        <img src="{{ user.imagem.url }}" alt="Imagem de Perfil">
        <br>
        <!-- Link para excluir a imagem de perfil -->
        <a href="{% url 'excluir_imagem' %}">Excluir Imagem de Perfil</a>
        <br>
        <!-- Link para editar/mudar a imagem de perfil -->
        <a href="{% url 'editar_imagem' %}">Editar Imagem de Perfil</a>
    {% else %}
        <!-- Caso não tenha imagem de perfil, exibir o link "Adicionar Imagem de Perfil" -->
        <a href="{% url 'adicionar_imagem' %}">Adicionar Imagem de Perfil</a>
    {% endif %}
    
    <br><br>

    <p><a href="{% url 'home' %}">voltar</a></p>
    <p><a href="{% url 'logout' %}">Sair</a></p>

    <p><a href="{% url 'dados' user.id %}">Alterar dados</a></p>
    <p><a href="{% url 'listar_endereco' %}">Endereço</a></p>

    {% if not perms.core.Administrador %}
    <p><a href="{% url 'submeter_artigo' %}">Submeter Artigo</a></p>
    <p><a href="{% url 'meus_artigos' %}">Meus Artigos</a></p>
    {% endif %}


    {% if perms.core.Administrador %}
    <p><a href="{% url 'listar_categoria' %}">Listar categorias</a></p>

    <p><a href="{% url 'pagina_usuarios' 'todos' %}">Consultar usuarios</a></p>
    <a href="{% url 'listar_artigos' %}">Listar Artigos</a>
    <!-- <p><a href="{% url 'user_list' %}">CADASTRAR ADMINISTRADOR</a></p> -->
    {% endif %}
</body>
</html>






